@import '@fontsource/inter';
@import '@fontsource/sansation';
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-sansation: 'Sansation', sans-serif;
  --color-bg-dark: #000000;
  --color-bg-light: #f7f7f7;
  --color-accent: #765ac1;
  --color-primary-dark: #fcfdff;
  --color-primary-light: #000000;
  --color-secondary-dark: #71717b;
  --color-secondary-light: #6b6b7b;
  --color-card-dark: #1f2028;
  --color-card-light: #e6e6e6;
  --color-field-dark: #323743;
  --color-field-light: #d1d1d6;
  --color-button-hover: #5e46a0;
  --color-secondary-button: #323743;
  --color-secondary-button-hover: #2b303b;
  --color-secondary-button-hover-light: #42495a;
  --color-link: #6950ab;
  --color-link-hover: #7c59c9;
}

* {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
}

/* LOADER SPINNING ANIMATION */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate-center {
  -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
  animation: rotate-center 0.6s ease-in-out infinite both;
}

/* CURSOR COLOR */
input,
textarea {
  caret-color: #000;
}

.dark input,
.dark textarea {
  caret-color: #fff;
}
/* ------------------------------- */

/* FORCE CUSTOM BACKGROUND AND TEXT COLOR ON AUTOFILLED INPUTS */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-field-light) inset;
  -webkit-text-fill-color: var(--color-primary-light);
  transition: background-color 5000s ease-in-out;
}

.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--color-field-dark) inset;
  -webkit-text-fill-color: var(--color-primary-dark);
  transition: background-color 5000s ease-in-out;
}
/* --------------------------------- */

/* REMOVE NUMBER INPUT ARROWS/SPINNERS FOR CLEANER LOOK */

@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  @keyframes pulseIn {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    50% {
      transform: scale(1.02);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-pulse-in {
    animation: pulseIn 1s ease-out;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* light mode */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0000004d;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #00000066;
  border-radius: 9999px;
}

/* dark mode */
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffffff33;
}

.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ffffff4d;
}

img {
  user-select: none;
  --webkit-user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

/* REMOVE SCROLLBAR */

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* NORMAL LOADER */
.loader {
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
